/* Geral */
main {
    display: flex;
    justify-content: center;
    /* Centraliza o card horizontalmente */
    align-items: center;
    /* Centraliza o card verticalmente */
    height: 80vh;
    /* Ajusta a altura do conteúdo principal */
    background-color: #ffffff;
    /* Cor de fundo leve para contraste */
}

/* Card */
#map-card {
    background: #ffffff;
    /* Fundo branco do card */
    border-radius: 12px;
    /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra sutil */
    overflow: hidden;
    /* Impede que o conteúdo transborde */
    width: 80%;
    /* Largura do card */
    height: 90%;
    /* Altura do card */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contêiner do mapa */
#map-container {
    width: 95%;
    /* Ajusta o tamanho do mapa dentro do card */
    height: 95%;
    /* Preenche quase todo o card */
    margin: auto;
}

/* Mapa */
#map {
    width: 100%;
    height: 100%;
}