<app-menu></app-menu>
<main class="container py-5">

    <header class="text-center mb-5">
        <h1>Explore e Conecte-se</h1>
        <p class="lead">Descubra destinos incríveis para intercâmbio e troque experiências culturais ao redor do Brasil.
        </p>
    </header>


    <section class="row row-cols-1 row-cols-md-3 g-4">
        <!-- Card 1 -->
        <article class="col">
            <div class="card h-100">
                <img src="assets/images/home/lugar.jpeg" class="card-img card-img-top"
                    alt="Locais disponíveis para intercâmbio">
                <div class="card-body">
                    <h5 class="card-title">Descubra Intercâmbios</h5>
                    <p class="card-text">Explore os melhores destinos.</p>
                </div>
                <footer class="card-footer text-center">
                    <a href="/exchange" class="btn btn-primary mb-4">
                        <i class="fa-regular fa-circle-right"></i> Conheça nossos intercâmbios disponíveis
                    </a>
                </footer>
            </div>
        </article>

        <!-- Card 2 -->
        <article class="col">
            <div class="card h-100">
                <img src="assets/images/home/avaliacoes.jpg" class="card-img card-img-top" alt="Avaliações de usuários">
                <div class="card-body">
                    <h5 class="card-title">Confira Avaliações</h5>
                    <p class="card-text">Veja o que outros viajantes dizem.</p>
                </div>
                <footer class="card-footer text-center">
                    <button class="btn btn-primary mb-4">
                        <i class="fa-regular fa-circle-right"></i> Confira nossas avaliações
                    </button>
                </footer>
            </div>
        </article>

        <!-- Card 3 -->
        <article class="col">
            <div class="card h-100">
                <img src="assets/images/home/destino.webp" class="card-img card-img-top"
                    alt="Mapa para escolha do destino de intercâmbio">
                <div class="card-body">
                    <h5 class="card-title">Escolha o lugar</h5>
                    <p class="card-text">Escolha entre uma variedade de destinos.</p>
                </div>
                <footer class="card-footer text-center">
                    <a href="/map" class="btn btn-primary mb-4">
                        <i class="fa-regular fa-circle-right"></i> Escolha o seu destino de viagem
                    </a>
                </footer>
            </div>
        </article>
    </section>
</main>
<app-footer></app-footer>