<app-menu></app-menu>
<main class="container mt-5 mb-5">
  <!-- Seção de Visualização do Perfil -->
  <section *ngIf="view === 1" id="profile-view" class="mb-5">
    <article class="card bg-dark text-white">
      <div class="card cover-card mt-4 mb-4 mx-3">
        <div class="cover-photo" [style.backgroundImage]="'url(' + usuario.fotoCapa + ')'">
          <div class="profile-picture-container">
            <img [src]="usuario.fotoPerfil" alt="Foto de Perfil" class="rounded-circle profile-picture">
          </div>
        </div>
      </div>
      <div class="card-body text-center">
        <h1 class="mt-5">{{ usuario?.nome }}</h1>

        <div class="user-rating mt-3">
          <h5>Avaliação do Usuário:</h5>
          <div class="stars">
            <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
              <i class="fas"
                [ngClass]="{'fa-star': i < notaAvaliacaoUsuario, 'fa-star-half-alt': i < notaAvaliacaoUsuario && i + 1 > notaAvaliacaoUsuario, 'fa-star-o': i >= notaAvaliacaoUsuario}"></i>
            </ng-container>
            <span class="ms-2">{{ notaAvaliacaoUsuario > 0 ? getNotaFormatada() + '/5' : 'O usuário ' + usuario?.nome +
              ' ainda não foi avaliado' }}</span>
          </div>
          <button class="btn btn-outline-light mt-2" (click)="mostrarAvaliacoes()">Ver mais</button>
        </div>

      </div>

      <div class="card bg-secondary mb-4 mx-3">
        <div class="card-body">
          <h2 class="card-title">
            Informações Pessoais
            <button *ngIf="verPerfil == 0" class="btn btn-outline-light float-end"
              (click)="editar()">
              <i class="fas fa-edit"></i> Editar
            </button>
          </h2>
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-secondary text-white d-flex align-items-center">
              <i class="fas fa-user me-3 icon-fixed-width"></i>
              Nome: {{ usuario?.nome }}
            </li>
            <li class="list-group-item bg-secondary text-white d-flex align-items-center">
              <i class="fas fa-at me-3 icon-fixed-width"></i>
              Email: {{ usuario?.email }}
            </li>
            <li class="list-group-item bg-secondary text-white d-flex align-items-center">
              <i class="fas fa-id-card me-3 icon-fixed-width"></i>
              RG: {{ usuario?.rg }}
            </li>
            <li class="list-group-item bg-secondary text-white d-flex align-items-center">
              <i class="fas fa-id-badge me-3 icon-fixed-width"></i>
              CPF: {{ usuario?.cpf }}
            </li>
            <li class="list-group-item bg-secondary text-white d-flex align-items-center">
              <i class="fas fa-passport me-3 icon-fixed-width"></i>
              Passaporte: {{ usuario?.nrpassa }}
            </li>
          </ul>
        </div>
      </div>

      <div class="card bg-secondary mb-4 mx-4">
        <div class="card-body">
          <h2 class="card-title">Redes Sociais</h2>
          @if (redesSociais.length > 0) {
          <div class="row row-cols-2 row-cols-md-4 g-2 mt-3">
            <div *ngFor="let rede of redesSociais" class="col">
              <a [href]="rede.url" target="_blank" class="btn btn-outline-light w-100 social-btn">
                <i [class]="'fab fa-' + rede.nome.toLowerCase()"></i> {{ rede.nome }}
              </a>
            </div>
          </div>
          } @else {
          <div class="alert alert-warning mt-3">
            Nenhuma rede social cadastrada para o usuário: {{ usuario?.nome }}
          </div>
          }
        </div>
      </div>

      <div class="card bg-secondary mb-4 mx-4" *ngIf="verPerfil == 0 && userLogado && avaliacoesPendentes.length > 0">
        <div class="card-body">
          <h2 class="card-title">Avaliações Pendentes</h2>
          <div class="avaliacoes-pendentes-lista">
            <div *ngFor="let avaliacao of avaliacoesPendentes" class="card bg-secondary mb-3">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-start">
                  <div class="d-flex align-items-center">
                    <i class="fas fa-user-circle fa-2x me-2"></i>
                    <div>
                      <h5 class="mb-0">{{ avaliacao.avaliado.nome }}</h5>
                    </div>
                  </div>
                  <button class="btn btn-outline-light"
                    (click)="acaoAvaliarUsuario(avaliacao.idavaliacao)">Avaliar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>

  <!-- Seção de Edição do Perfil -->
  <section *ngIf="view === 2" id="profile-edit">
    <form [formGroup]="perfilForm" class="card bg-dark text-white">
      <div class="card-body">
        <h2 class="card-title mb-4">Editar Perfil</h2>

        <!-- Seção de Fotos -->
        <div class="mb-4">
          <h3>Fotos</h3>
          <div class="mb-3">
            <label for="fotoPerfil" class="form-label">Foto de Perfil</label>
            <input type="file" id="fotoPerfil" (change)="onFileSelected($event, 'perfil')" class="form-control bg-secondary text-white" accept="image/*">
          </div>
          <div class="mb-3">
            <label for="fotoCapa" class="form-label">Foto de Capa</label>
            <input type="file" id="fotoCapa" (change)="onFileSelected($event, 'capa')" class="form-control bg-secondary text-white" accept="image/*">
          </div>
        </div>

        <!-- Previews das Fotos -->
        <div class="row mb-4">
          <div class="col-md-6">
            <div class="card bg-secondary">
              <div class="card-body">
                <h4>Preview Foto de Perfil</h4>
                <div class="preview-container position-relative">
                  @if (fotoPerfilFile) {
                  <div class="preview-image-wrapper">
                    <div class="preview-image">
                      <img class="preview-img"
                      [src]="previewURLPerfil"
                      alt="Preview da foto de perfil">
                    </div>
                    <button type="button" class="btn btn-danger btn-sm position-absolute top-0 end-0 m-1"
                      (click)="removerFoto('perfil')">×</button>
                  </div>
                  <ng-template #noImagePerfil>
                    <div class="preview-placeholder d-flex align-items-center justify-content-center">
                      Nenhuma imagem selecionada
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card bg-secondary">
              <div class="card-body">
                <h4>Preview Foto de Capa</h4>
                <div class="preview-container position-relative">
                  @if (fotoCapaFile) {
                  <div class="preview-image-wrapper">
                    <div class="preview-image">
                      <img class="preview-img"
                      [src]="previewURLCapa"
                      alt="Preview da foto de capa">
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Campos de Edição do Usuário -->
        <div class="mb-3">
          <label for="nome" class="form-label">Nome:<span class="text-danger">*</span></label>
          <input type="text" id="nome" formControlName="nome" class="form-control bg-secondary text-white" required>
          <div *ngIf="perfilForm.get('nome')?.errors?.['required'] && perfilForm.get('nome')?.touched"
            class="text-danger mt-1">
            <small>Nome é obrigatório.</small>
          </div>
          <div *ngIf="perfilForm.get('nome')?.errors?.['minlength']" class="text-danger mt-1">
            <small>Nome deve ter no mínimo 5 caracteres.</small>
          </div>
          <div *ngIf="perfilForm.get('nome')?.errors?.['maxlength']" class="text-danger mt-1">
            <small>Nome deve ter no máximo 60 caracteres.</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email:<span class="text-danger">*</span></label>
          <input type="text" id="email" formControlName="email" class="form-control bg-secondary text-white"
            required>
          <div *ngIf="perfilForm.get('email')?.errors?.['required'] && perfilForm.get('email')?.touched"
            class="text-danger mt-1">
            <small>O email é obrigatório.</small>
          </div>
          <div *ngIf="perfilForm.get('email')?.errors?.['email']" class="text-danger mt-1">
            <small>O email fornecido deve ser válido.</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="rg" class="form-label">RG:<span class="text-danger">*</span></label>
          <input type="text" id="rg" formControlName="rg" mask="00.000.000"
            class="form-control bg-secondary text-white" required>
          <div *ngIf="perfilForm.get('rg')?.errors?.['required'] && perfilForm.get('rg')?.touched"
            class="text-danger mt-1">
            <small>O RG é obrigatório.</small>
          </div>
          <div *ngIf="perfilForm.get('rg')?.errors?.['minlength']" class="text-danger mt-1">
            <small>O RG deve ter no mínimo 7 caracteres.</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="cpf" class="form-label">CPF:<span class="text-danger">*</span></label>
          <input type="text" id="cpf" formControlName="cpf" mask="000.000.000-00"
            class="form-control bg-secondary text-white" required>
          <div *ngIf="perfilForm.get('cpf')?.errors?.['required'] && perfilForm.get('cpf')?.touched"
            class="text-danger mt-1">
            <small>O CPF é obrigatório.</small>
          </div>
          <div *ngIf="perfilForm.get('cpf')?.errors?.['minlength']" class="text-danger mt-1">
            <small>O CPF deve ter no mínimo 11 caracteres.</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="passaporte" class="form-label">Passaporte:<span class="text-danger">*</span></label>
          <input type="text" id="passaporte" formControlName="passaporte" mask="AA000000"
            class="form-control bg-secondary text-white" required>
          <div *ngIf="perfilForm.get('passaporte')?.errors?.['required'] && perfilForm.get('passaporte')?.touched"
            class="text-danger mt-1">
            <small>O passaporte é obrigatório.</small>
          </div>
          <div *ngIf="perfilForm.get('passaporte')?.errors?.['minlength']" class="text-danger mt-1">
            <small>O passaporte deve ter no mínimo 8 caracteres e ser formado por pelo menos duas letras e 6 dígitos,
              exemplo: AZ123456.</small>
          </div>
        </div>

        <!-- Redes Sociais -->
        <div class="mb-4">
          <h3>Redes Sociais</h3>
          <div id="social-media-list" class="mb-3">
            <!-- Redes Sociais Cadastradas -->
            <div class="card bg-secondary mb-3">
              <div class="card-body">
                <h4 class="card-title">Redes Sociais Cadastradas</h4>

                <!-- Listagem das redes sociais com nome, URL e botão de remover -->
                <div formArrayName="redesSociais">
                  @for (rede of redesSociais; track $index; let i = $index) {
                  <div class="social-media-item mb-2 pb-2 border-bottom border-light">
                    <div class="row g-2 align-items-center">
                      <div class="col-3 border-end">
                        <span class="badge bg-primary d-inline-block">
                          <i [class]="'fab fa-' + rede.nome.toLowerCase()"></i> {{ rede.nome }}
                        </span>
                      </div>
                      <div class="col-7 border-end">
                        <a [href]="rede.url" target="_blank" class="text-truncate text-light d-block">{{ rede.url }}</a>
                      </div>
                      <div class="col-2 text-end">
                        <button class="btn btn-outline-danger btn-sm" type="button" (click)="removeSocialMedia(i)">
                          Remover
                        </button>
                      </div>
                    </div>
                  </div>
                  } @empty {
                  <div class="alert alert-info">
                    Nenhuma rede social cadastrada
                  </div>
                  }
                </div>
              </div>
            </div>
          </div>

          <!-- Adicionar Nova Rede Social -->
          <div class="card bg-secondary">
            <div class="card-body">
              <h4 class="card-title">Adicionar Nova Rede Social</h4>
              <form [formGroup]="novaRedeSocial" class="social-media-item">
                <div class="row g-3 align-items-center">
                  <div class="col-auto">
                    <label for="social-media-select" class="col-form-label">Rede Social:</label>
                  </div>
                  <div class="col-auto">
                    <select formControlName="nome" class="form-select bg-dark text-white" id="social-media-select">
                      <option value="">Escolha</option>
                      @for (social of redesSociaisDisponiveis; track social) {
                      <option [value]="social">
                        {{ social }}
                      </option>
                      }
                    </select>
                  </div>
                  <div class="col-auto">
                    <label for="social-media-url" class="col-form-label">Link:</label>
                  </div>
                  <div class="col">
                    <input formControlName="url" type="url" id="social-media-url"
                      class="form-control bg-dark text-white" placeholder="https://">
                  </div>
                  <div class="col-auto">
                    <button class="btn btn-outline-success" type="button" (click)="addRedeSocial()"
                      [disabled]="!novaRedeSocial.valid || redesSociaisDisponiveis.length === 0">
                      <i class="fas fa-plus"></i> Adicionar
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!-- Campos de senha com máscaras e toggles de visibilidade -->
        <div class="mb-4">
          <h3>Redefinir Senha</h3>
          <div class="mb-3">
            <label for="senhaAtual" class="form-label">Senha Atual</label>
            <div class="input-group">
              <input type="{{ passwordVisible.current ? 'text' : 'password' }}" id="currentPassword"
                formControlName="senhaAtual" class="form-control bg-secondary text-white">
              <button class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility('current')">
                <i [class]="passwordVisible.current ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
              </button>
            </div>
            <div *ngIf="perfilForm.hasError('senhaAtualIncorreta')" class="text-danger mt-1">
              <small>Senha atual está incorreta.</small>
            </div>
          </div>
          <div class="mb-3">
            <label for="novaSenha" class="form-label">Nova Senha</label>
            <div class="input-group">
              <input type="{{ passwordVisible.new ? 'text' : 'password' }}" id="newPassword" formControlName="novaSenha"
                class="form-control bg-secondary text-white">
              <button class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility('new')">
                <i [class]="passwordVisible.new ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
              </button>
            </div>
            <div *ngIf="perfilForm.get('novaSenha')?.hasError('minlength')" class="text-danger mt-1">
              <small>A nova senha deve ter no mínimo 6 caracteres.</small>
            </div>
            <div *ngIf="perfilForm.get('novaSenha')?.hasError('pattern')" class="text-danger mt-1">
              <small>A nova senha deve conter pelo menos uma letra e um número.</small>
            </div>
          </div>
          <div class="mb-3">
            <label for="confirmarNovaSenha" class="form-label">Confirmar Nova Senha</label>
            <div class="input-group">
              <input type="{{ passwordVisible.confirm ? 'text' : 'password' }}" id="confirmPassword"
                formControlName="confirmarNovaSenha" class="form-control bg-secondary text-white">
              <button class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility('confirm')">
                <i [class]="passwordVisible.confirm ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
              </button>
            </div>
          </div>
          <div *ngIf="perfilForm.hasError('senhasNaoCompativeis')" class="text-danger mt-1">
            <small>As novas senhas não são iguais.</small>
          </div>
        </div>

        <div class="mb-2">

          <span class="text-danger">(*) Campos marcados com asterisco são de preenchimento obrigatório.</span>

        </div>

        <!-- Botões de Ação -->
        <button type="button" class="btn btn-primary" (click)="salvarAlteracoes()" [disabled]="!perfilForm.valid || (!perfilForm.dirty && !redesSociaisForamAlteradas())" >Salvar Alterações</button>
        <button type="button" class="btn btn-secondary ms-2" (click)="cancelarAlteracoes()">Cancelar</button>
      </div> <!-- Fim de card-body -->
    </form>
  </section>

  <!-- Seção de Avaliações -->
  <section *ngIf="view === 3" id="avaliacoes" class="mb-5">
    <div class="card bg-dark text-white">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h2>Avaliações</h2>
          <button class="btn btn-outline-light" (click)="voltar()">
            <i class="fas fa-times"></i> Fechar
          </button>
        </div>

        @if (avaliacoesRecebidas.length > 0) {
        <div class="avaliacoes-lista">
          @for (avaliacao of avaliacoesRecebidas; track avaliacao.idAvaliacao) {
          <div class="card bg-secondary mb-3">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-start">
                <div class="d-flex align-items-center">
                  <i class="fas fa-user-circle fa-2x me-2"></i>
                  <div>
                    <h5 class="mb-0">{{ avaliacao.avaliador.nome }}</h5>
                    <div class="stars">
                      @for (star of [1,2,3,4,5]; track star) {
                      <i class="fas fa-star" [class.text-warning]="star <= avaliacao.avaliacao"></i>
                      }
                      {{ avaliacao.avaliacao }}/5
                    </div>
                  </div>
                </div>
                <small class="text-light">{{ avaliacao.dtaval | date:'dd/MM/yyyy' }}</small>
              </div>
              <p *ngIf="avaliacao.descricao" class="mt-3 mb-0">{{ avaliacao.descricao }}</p>
            </div>
          </div>
          }
        </div>
        } @else {
        <div class="alert alert-info">
          Nenhuma avaliação encontrada para este usuário.
        </div>
        }
      </div>
    </div>
  </section>

  <!-- Seção de Avaliação do Usuário -->
  <section *ngIf="view === 4" id="avaliar-usuario" class="mb-5">
    <div class="card bg-dark text-white">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h2>Avaliar Usuário</h2>
          <button class="btn btn-outline-light" (click)="voltar()">
            <i class="fas fa-times"></i> Fechar
          </button>
        </div>
        <div class="mb-3">
          <h4>Olá, {{ usuarioLogado.nome }}! Você está avaliando: {{ avaliacaoPendenteEspecifica.nomeUsuario }}</h4>
        </div>
        <form [formGroup]="avaliacaoForm" (ngSubmit)="salvarAvaliacao()">
          <div class="mb-3">
            <label for="avaliacao" class="form-label">Avaliação:</label>
            <div class="d-flex align-items-center">
              <div class="stars text-secondary me-2">
                <i *ngFor="let star of [1, 2, 3, 4, 5]" class="fas fa-star" 
                 [class.text-warning]="star <= (avaliacaoForm.get('avaliacao')?.value || 1)"
                 (click)="avaliacaoForm.get('avaliacao')?.setValue(star)" 
                 style="cursor: pointer">
                </i>
                </div>
                <span>{{avaliacaoForm.get('avaliacao')?.value || 1}} estrela(s).</span>
            </div>
          </div>
          <div class="mb-3">
            <label for="descricao" class="form-label">Descrição:</label>
            <textarea id="descricao" formControlName="descricao" class="form-control bg-secondary text-white"
              rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!avaliacaoForm.valid">Salvar Avaliação</button>
          <button type="button" class="btn btn-secondary ms-2" (click)="cancelarAvaliacao()">Cancelar</button>
        </form>
      </div>
    </div>
  </section>
  
</main>
<app-footer></app-footer>