<app-menu></app-menu> <!-- Componente de Menu -->

<main class="search-container">
    <header>
        <h1 class="text-center">Busque seu Intercâmbio</h1>
        <div class="search-bar mt-4 mb-5">
            <input type="text" placeholder="Buscar intercâmbio" #searchInput
                (input)="buscarIntercambios(searchInput.value)" />
            <span class="search-icon"><i class="fa fa-search"></i></span>
        </div>
    </header>



    <section class="exchange-cards mb-4">
        <div *ngIf="searchMessage" class="text-center">
            <p>{{ searchMessage }}</p>
        </div>
        <div class="row">
            <div *ngFor="let exchange of filteredExchanges" class="col-md-6 mb-4">
                <div class="card h-100">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img [src]="exchange.localImage[0]" class="img-fluid rounded-start" alt="Imagem do intercâmbio">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">{{ exchange.titulo }}</h5>
                                <p class="card-text">{{ exchange.contatoHost.nmprop }}</p>
                                <div class="card-text mb-2">
                                    <small class="text-muted d-block"><strong>Local:</strong> {{ exchange.contatoHost.cidade }} - {{ exchange.contatoHost.cdestado }}</small>
                                    <small class="text-muted d-block"><strong>Duração:</strong> {{ exchange.duracao }}</small>
                                    <small class="text-muted d-block"><strong>Serviços:</strong> {{ exchange.servicos }}</small>
                                    <small class="text-muted d-block">
                                        <strong>Avaliação do Intercâmbio:</strong>
                                        <ng-container *ngIf="exchange.contatoHost.usuario.avaliacoesComoAvaliado && exchange.contatoHost.usuario.avaliacoesComoAvaliado.length > 0; else noAvaliacoes">
                                            {{ calcularMediaAvaliacoes(exchange.contatoHost.usuario.avaliacoesComoAvaliado) }} {{ media }}/5
                                        </ng-container>
                                        <ng-template #noAvaliacoes> O intercâmbio ainda não foi avaliado</ng-template>
                                    </small>
                                </div>
                                <button class="btn btn-primary mt-auto" (click)="verDetalhes(exchange.idinterc)">
                                    <i class="fas fa-info-circle me-2"></i> Ver Detalhes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<app-footer></app-footer> <!-- Componente de Footer -->