/* Geral */
.search-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Barra de pesquisa */
.search-bar {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-bar input {
    flex: 1;
    max-width: 400px;
    padding: 10px;
    padding-right: 40px; /* Espaço para a lupa */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-icon {
    position: absolute;
    right: 25rem;
    top: 50%;
    transform: translateY(-50%);
    color: #333; /* Cor do ícone */
    font-size: 20px; /* Tamanho do ícone */
}

.filters {
    margin-bottom: 20px;
    text-align: center;
}

.filter-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.filter-options select {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-width: 200px;
}

/* Cards */
.exchange-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
}

.exchange-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
}

.exchange-card img {
    width: 100%;
    border-radius: 4px;
    height: 150px;
    object-fit: cover;
}

.exchange-card h3 {
    margin: 10px 0;
    font-size: 18px;
}

.exchange-card p {
    font-size: 14px;
    color: #666;
}

.exchange-card .details {
    margin: 10px 0;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.exchange-card .details span {
    font-size: 12px;
    color: #555;
}

.exchange-card .details-button {
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.exchange-card .details-button:hover {
    background-color: #218838;
}
