.navbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  /* Remove a linha embaixo do link */
}

.navbar-logo img {
  height: 40px;
  margin-right: 10px;
}

.navbar-logo span {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
  font-size: 1rem;
}

button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #f1f1f1;
}