<main class="container py-5">
    <section class="text-center mb-5">
        <h1>Cadastre sua Propriedade como Host</h1>
        <p class="lead">Preencha as informações da sua propriedade para tornar-se um anfitrião.</p>
    </section>

    <section>
        <form action="/cadastrar-host" method="POST">

            <div class="mb-3">
                <label for="nome-propriedade" class="form-label">Nome da Propriedade:<span
                        class="text-danger">*</span></label>
                <input type="text" id="nome-propriedade" name="nome-propriedade" class="form-control" required>
            </div>

            <div class="row mb-3">

                <div class="col-md-7">
                    <label for="rua" class="form-label">Rua:<span class="text-danger">*</span></label>
                    <input type="text" id="rua" name="rua" class="form-control" required>
                </div>

                <div class="col-md-2">
                    <label for="numero" class="form-label">Número:<span class="text-danger">*</span></label>
                    <input type="text" id="numero" name="numero" class="form-control" required>
                </div>

                <div class="col-md-3">
                    <label for="complemento" class="form-label">Complemento:<span class="text-danger">*</span></label>
                    <input type="text" id="complemento" name="complemento" class="form-control" required>
                </div>

            </div>

            <div class="row mb-3">

                <div class="col-md-6">
                    <label for="cidade" class="form-label">Cidade:<span class="text-danger">*</span></label>
                    <input type="text" id="cidade" name="cidade" class="form-control" required>
                </div>

                <div class="col-md-6">
                    <label for="estado" class="form-label">Estado:<span class="text-danger">*</span></label>
                    <select id="estado" name="estado" class="form-select" required>
                        <option value="" selected disabled>Selecione o estado</option>
                        <option value="SP">São Paulo</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="ES">Espírito Santo</option>
                    
                    </select>
                </div>

            </div>


            <div class="row mb-3">


                <div class="col-md-3">
                    <label for="cep" class="form-label">CEP:<span class="text-danger">*</span></label>
                    <input type="text" id="cep" name="cep" class="form-control" 
                        inputmode="numeric" placeholder="00000-000" required>
                </div>

                <div class="col-md-5">
                    <label for="tipo-propriedade" class="form-label">Tipo da Propriedade:<span
                            class="text-danger">*</span></label>
                    <select id="tipo-propriedade" name="tipo-propriedade" class="form-select" required>
                        <option value="" selected disabled>Selecione o tipo da propriedade</option>
                        <option value="casa">Casa</option>
                        <option value="apartamento">Apartamento</option>
                        <option value="quarto">Quarto</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label for="telefone" class="form-label">Telefone:<span class="text-danger">*</span></label>
                    <input type="tel" id="telefone" name="telefone" class="form-control"
                        inputmode="numeric" placeholder="(00) 00000-0000" required>
                </div>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">E-mail: (opcional)</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="email@exemplo.com">
              </div>

              <span class="text-danger">* Campos marcados com asterisco são obrigatórios.</span>
              

            <div class="mt-3 d-flex justify-content-between gap-2">
                <button class="btn btn-dark  align-self-center" type="button">Voltar</button>
                <button class="btn btn-outline-dark  align-self-center" type="submit">Cadastrar Propriedade</button>
            </div>
        </form>
    </section>
</main>