<app-menu></app-menu>

<main class="py-5">
    <header class="text-center mb-5">
        <h1>Cadastrar Novo Intercâmbio</h1>
        <p class="lead">Preencha os detalhes abaixo para cadastrar seu intercâmbio.</p>
    </header>

    <form [formGroup]="formExchange" (ngSubmit)="onSubmit()" enctype="multipart/form-data" class="form">

        <!-- Campo para inserir imagens do local -->
        <div class="form-group mb-4">
            <label for="localImage" class="form-label">Imagem do Local:<span class="text-danger"> *</span></label>
            <input type="file" id="localImage" (change)="onFileChange($event)" accept="image/*" class="form-control">
        </div>

        <!-- Campo de Título do card -->
        <div class="form-group mb-4">
            <label for="cardTitle" class="form-label">Título do Card:<span class="text-danger"> *</span></label>
            <input type="text" id="cardTitle" formControlName="cardTitle" placeholder="Título do Card"
                class="form-control">
        </div>

        <!-- Campo para descrição -->
        <div class="form-group mb-4">
            <label for="description" class="form-label">Descrição:<span class="text-danger"> *</span></label>
            <textarea id="description" formControlName="description" placeholder="Descrição da Viagem"
                class="form-control" rows="4"></textarea>
        </div>

        <!-- Campo para descrever como será o serviço -->
        <div class="form-group mb-4">
            <label for="serviceDescription" class="form-label">Descrição do Serviço:<span class="text-danger">
                    *</span></label>
            <textarea id="serviceDescription" formControlName="serviceDescription"
                placeholder="Detalhes sobre o serviço" class="form-control" rows="4"></textarea>
        </div>

        <!-- Campo para informar tags sobre o serviço -->
        <div class="form-group mb-4">
            <label for="serviceTags" class="form-label">Tags do Serviço:<span class="text-danger"> *</span></label>
            <input type="text" id="serviceTags" formControlName="serviceTags"
                placeholder="Tags (Ex.: Agricultura, Cozinha)" class="form-control">
        </div>

        <!-- Campo para informar o que o Host oferece -->
        <div class="form-group mb-4">
            <label for="hostOffers" class="form-label">O que o Host oferece:<span class="text-danger"> *</span></label>
            <input type="text" id="hostOffers" formControlName="hostOffers"
                placeholder="O que o Host oferece (Ex.: Alojamento, Alimentação)" class="form-control">
        </div>

        <!-- Campo para informar a duração do trabalho -->
        <div class="form-group mb-4">
            <label for="workDuration" class="form-label">Duração do Trabalho:<span class="text-danger"> *</span></label>
            <input type="text" id="workDuration" formControlName="workDuration"
                placeholder="Duração do trabalho (Ex.: 2 semanas)" class="form-control">
        </div>

        <!-- Botão para submeter o formulário -->
        <div class="text-center">
            <button type="submit" class="btn btn-primary" [disabled]="formExchange.invalid">Cadastrar
                Intercâmbio</button>
        </div>
    </form>
</main>
<app-footer></app-footer>